

  .container
  {
      margin-left: 50px;
      margin-right: 50px;
      
     background-color: azure;
  }
  
  .education
  {
      display: flex;
      text-align: calc(15);
  }
  
  .header
  {
      color: rgb(28, 28, 100);
      text-align: left;
      border: "1.0";
  }
  
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  
  img {
      position: absolute;
      top: auto;
      right: 150px;
      width: 180%;
      
    
      border-radius: 50%;
     
    }
  
  
  
  
  
  .topright {
      position: absolute;
      top: 8px;
      right: 16px;
      font-size: 18px;
  
  }
